<!doctype html>
<html>
<head>
  <title>Text Analysis</title>

</head>

<body>

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>


  <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>

  <script src="http://unpkg.com/babel-standalone"></script>

  <div id="root"></div>

  <hr>
  <form action="/logout">
    <input type="submit" value="Log Out">
  </form>

  <form action="/upload">
    <input type="submit" value="Upload Your Backup Files">
  </form>

   <form action="/">
    <input type="submit" value="Go Home">
  </form>

  <div class="flashes">
    {% for message in get_flashed_messages() %}
      {{ message }}
    {% endfor %}
  </div>

  {% block content %} put your content here {% endblock %}

</body>
</html>

