<!doctype html>
<html>
<head>
  <title>Text Analysis</title>
  
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>

</head>

<body>
  <hr>
  <form action="/logout">
    <input type="submit" value="Log Out">
  </form>

  <form action="/upload">
    <input type="submit" value="Upload Your Backup Files">
  </form>

   <form action="/">
    <input type="submit" value="Go Home">
  </form>

  {% block content %} put your content here {% endblock %}

</body>
</html>

