{% extends 'base.html' %}
{% block content %}

<div id="welcome">
<h1 id="welcomechild">Keyboard Diaries</h1>
</div>
<hr>

<div id="daterange">
<div id="daterangechild">
<h2>Search for texts within a date range</h2>

<form action="/daterange">
    Recipient Name: <input type="text" name="name"><br>
    Start Date (MM-DD-YYYY): <input type="text" name="start_date"><br>
    End Date (MM-DD-YYYY): <input type="text" name="end_date">
    <input type="submit">
</form>
</div>
</div>
<hr>

<div id="graph">
<div id="graphchild">
<h2>View a graph of text counts over time</h2>

<form action="/graph-frequencies" id="graph-form">
    Recipient Name: <input type="text" name="name"> <br>
    (Optional) Second Recipient for Comparison: <input type="text" name="name2">
    <br>
    Interval of time: 
        <input type="radio" name="interval" value="Year">Year
        <input type="radio" name="interval" value="Month">Month
    <br>
    Start (YYYY/MM-YYYY): <input type="text" name="start_date"><br>
    End (YYYY/MM-YYYY): <input type="text" name="end_date"><br>
    <input type="submit">
</form>
</div>
</div>
<hr>

<div id="keyword">
<div id="keywordchild">
<h2> Find texts by key word or phrase</h2>

<form action="/keyword" id="keyword-form">
    Key word or phrase: <input type="text" name="keyword">
    <input type="submit">
</form>
</div>
</div>
<hr>

<div id="onthisday">
<div id="onthisdaychild">
<h2> One Year Ago Today </h2>

<form action="/one-year-ago-today"><input type="submit" value="Go">
</form>
</div>
</div>

{% endblock %}