{% extends 'base.html' %}
{% block content %}
<div class="page">
<h2>{{folder_title }}</h2>

  {% for message in messages %}
        {% if message.sender_id == me.id %}
            <div class="message_from_me">
                {{ message.convert_date() }}, {{ message.sender.name }}: <b>{{ message.text }}</b>
            </div>
            <br>

        {% else %}
            <div class="message_to_me">
                {{ message.convert_date() }}, {{ message.sender.name }}: <b>{{ message.text }}</b>
            </div>
            <br>
        {% endif %}
        <br>
  {% endfor %}
  </div>

{% endblock %}