{% extends 'base.html' %}
{% block content %}
<div class="page">
  <h2>Texts</h2>

    {% for message in messages %}
        {% if message.sender_id == me.id %}
            <div class="message_from_me">
                {{ message.convert_date() }}, {{ message.sender.name }}: <b>{{ message.text }}</b>
            </div>
            <br>
            <br>
        {% else %}
            <div class="message_to_me">
                {{ message.convert_date() }}, {{ message.sender.name }}: <b>{{ message.text }}</b>
            </div>
            <br>
            <br>
        {% endif %}
        <br>
        <br>
    {% endfor %}
</div>

{% endblock %}