{% extends 'base.html' %}
{% block content %}


  <h2>Texts</h2>

  <ul>
    {% for message in messages %}
      <li>
           {% if message.sender_id == me.id %}
              <div class="message_from_me">
                {{ message.convert_date() }}, {{ message.sender.name }}: {{ message.text }}
                <form action="/add-message-to-folder" method="POST">
                  <input type="hidden" name="message_id" value="{{ message.id }}">
                  <select name="folder_id"> 
                    {% for folder in folders %}
                      <option value="{{ folder.id }}">{{ folder.title }} </option>
                    {% endfor %}
                  </select>
                  <input type="submit" value="Add to Folder">
                </form>
              </div>
            {% else %}
              <div class="message_to_me">
                {{ message.convert_date() }}, {{ message.sender.name }}: {{ message.text }}
                <form action="/add-message-to-folder" method="POST">
                  <input type="hidden" name="message_id" value="{{ message.id }}">
                  <select name="folder_id"> 
                    {% for folder in folders %}
                      <option value="{{ folder.id }}">{{ folder.title }} </option>
                    {% endfor %}
                  </select>
                  <input type="submit" value="Add to Folder">
                </form>
              </div>
            {% endif %}
      </li>
    {% endfor %}
  </ul>

{% endblock %}