{% extends 'base.html' %}
{% block content %}

<h3> Your Most Commonly Used Emoji with {{ name }}: {{ the_emoji }} </h3>

<h3>{{ name }} has sent you {{ number_received }} texts, totaling {{ words_received }} words.</h3>

<h3>You have sent {{name}} {{ number_sent }} texts, totaling {{ words_sent }} words.</h3>


  <h2>Texts</h2>

  <ul>
    {% for message in messages %}
      <li>
        
        {{ message.convert_date() }}, {{ message.sender.name }}: {{ message.text }}
        
      </li>
    {% endfor %}
  </ul>

{% endblock %}