{% extends 'base.html' %}
{% block content %}

<h3> Your Most Commonly Used Emoji with {{ name }}: {{ the_emoji }} </h3>

<h3>{{ name }} has sent you {{ number_received }} texts, totaling {{ words_received }} words.</h3>

<h3>You have sent {{name}} {{ number_sent }} texts, totaling {{ words_sent }} words.</h3>

<h3> Search your texts with {{ name }} by keyword or phrase: </h3>
<form action="/keyword">
    Key word or phrase: <input type="text" name="keyword">
    <input type="hidden" name="person_name" value="{{ name }}">
    <input type="submit">
</form>

<h3> Add {{ name }} to a group: </h3>

<form action="/add-person-to-group" method="POST">

    <select name="group_id"> 
      {% for group in groups %}
        <option value="{{ group.id }}"> {{ group.title }} </option>
      {% endfor %}
    </select>

    <input type="hidden" name="person_name" value="{{ name }}">

    <input type="submit" value="Add to Group">

</form>

  <h2>Texts</h2>

  <ul>
    {% for message in messages %}
      <li>
        {% if message.sender_id == me.id %}
          <div class="message_from_me">
              {{ message.convert_date() }}, {{ message.sender.name }}: {{ message.text }}
          </div>
        {% else %}
          <div class="message_to_me">
              {{ message.convert_date() }}, {{ message.sender.name }}: {{ message.text }}
          </div>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

{% endblock %}