{% extends 'base.html' %}
{% block content %}

<div class="page">
  <h2>Texts</h2>

    {% for message in messages %}
            {% if message.sender_id == me.id %}
              <div class="message_from_me">
                {{ message.convert_date() }}, {{ message.sender.name }}: <b>{{ message.text }}</b>
                <form action="/add-message-to-folder" method="POST">
                  <input type="hidden" name="message_id" value="{{ message.id }}">
                  <select name="folder_id"> 
                    {% for folder in folders %}
                      <option value="{{ folder.id }}">{{ folder.title }} </option>
                    {% endfor %}
                  </select>
                  <input type="submit" value="Add to Folder">
                </form>
              </div>
              <br>
            {% else %}
              <div class="message_to_me">
                {{ message.convert_date() }}, {{ message.sender.name }}: <b>{{ message.text }}</b>
                <form action="/add-message-to-folder" method="POST">
                  <input type="hidden" name="message_id" value="{{ message.id }}">
                  <select name="folder_id"> 
                    {% for folder in folders %}
                      <option value="{{ folder.id }}">{{ folder.title }} </option>
                    {% endfor %}
                  </select>
                  <input type="submit" value="Add to Folder">
                </form>
              </div>
              <br>
            {% endif %}
            <br>
            <br>
    {% endfor %}
</div>

{% endblock %}